@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../../public/images/back_login_png.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100%;
}

main{
    font-family: "Nova Square", sans-serif;
    justify-items: right;
    margin-right: 10rem;
}

h1,h2 {
    color: #FA4C16;
}

div > h1{
   justify-content: center;
   text-align: center;
   margin-right: 90px;
}

h2{
    font-size: 2.5vh;
    margin-right: 2rem;
    margin-top: 1rem;
}

.bg-login{
    background-color: #3C504B;
    border-radius: 25px;
}

input{
    width: 21rem;
    height: 4vh;
    border-radius: 15px;
    border-style: none;
    padding-left: 5px;
}

.btn-login{
    margin-top: 1.25rem;
    font-size: 23px;
    color: white;
    background-color: #FA4C16;
    border-radius: 15px;
    border: none;
}

#formulario {
   width: 25rem;
   height: 20rem;
   padding: 1.5rem;
}

section > img {
    border-radius: 10px;
    margin-top: 10rem;
    margin-left: 8rem;
}
