@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../../public/images/back_login.jpg');
}