@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-home{
    background-color: #CFCBCF;
}

header{
    font-family: "Nova Square", sans-serif;
    height: 15vh;
}

header > div > ul > li {
    padding: 1.5rem;
    font-size: 3.5vh;
    color: #112d64;
}


